node_modules/
.next/
dist/
out/
coverage/
local/
.env*
!.env.example
*.log
*.tsbuildinfo
next-env.d.ts
*.pem
*.key
*.wz
*.exe
*.dll
*.sql
*.zip
*.rar

*.7z
*.msi
*.sqlite
*.sqlite3
*.db
*.mdb
*.pfx
*.p12
